body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240,240);
    background: url("../img/bg.png") repeat 100%;
}
/*Стилі лого і фона*/
.start-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.start-page-background{
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: white;
}
.fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.start-page-logo{
    position: relative;
    top: 30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    color: #0071c5;
    z-index: 6;
}


section{
    margin: 15px 30px;
}
/* Header */

.header{
    position: relative;
    overflow: hidden;
    width: calc(100% - 60px);
    height: 60px;
    background-color: #fff;
    color: lightgreen;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
}
.status{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.logo{
    color: #0071c5;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.exit,.status-container{
    position: relative;
    height: 100%;
    margin: 0;
    width: 10%;
    float: right;
    transition: 0.5s;
    cursor: pointer;
}
.status-container{
    float: left;
    left: 3%;
    cursor: default;
}
.logout{
    color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    transition: 0.5s;
}
.exit:hover{
    background: darkred;
    opacity: 0.7;
}
.exit:hover .logout{
    color: white;
}

/* Work info */

.profile-info{
    width: available;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: sans-serif;
}
.separate-line{
    height: 100%;
    width: 0.15%;
    background: #000;
}
.profile-info .work-start{
    padding: 15px 40px;
    border: none;
    font-size: 1em;
    height: 100%;
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
    font-weight: lighter;
    transition: 0.5s;
}

.profile-info .taskbar{
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    max-height: 200px;
    top: 0;
    left: 0;
}

.profile-info .taskbar .task{
    display: none;
    margin: auto 0;
    position: relative;
    text-align: center;
    background: darkgrey;
    color: white;
    height: 65px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.15em;
    transition: background-color 0.5s ease;
}
.taskbar .task:first-child{
    background: darkred;
}
.dropdown:hover{
    cursor: pointer;
    padding-right: 0;
}

.profile-info .taskbar.closed .task:first-child{
    display: flex;
    position: relative;
    border-radius: 15px;
    top: 0;
    left: 0;
}

.profile-info .taskbar.opened .task{
    display: flex;
}

.profile-info .taskbar.opened{
    margin: 0;
    align-self: flex-start;
    height: 300%;
}


.profile-info .taskbar .task span{
    display: block;
    height: 50%;
}

.dropdown-arrow{
    height: 100%;
    transition: 0.5s;
}
.task:nth-child(2) .dropdown-arrow, .task:last-child .dropdown-arrow{
    opacity: 0;
}
.taskbar.opened .task:first-child{
    background: #8b0000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.taskbar.opened .task:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.taskbar.opened .task:nth-child(2):hover, .taskbar.opened .task:last-child:hover{
    background: grey;
}

/*Profile stats*/

.profile-stats{
    width: calc(100% - 60px);
    height: 400px;
    background-color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
}
.profile-stats-top{
    padding-left: 25px;
    height: 200px;
    border-bottom: 1px solid red;
}
.profile-icon{
    display: inline-block;
    margin: 10px;
    height: 180px;
    width: 180px;
    box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.75);
    background-color: transparent;
    background-image: url('../img/profile-icon.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}
.salary-info{
    display: inline-block;
    height: 180px;
}
.salary-info table{
    border-spacing: 0;
}
.salary-info tr{
}
.salary-info td{
    padding: 15px 30px;
}
img[alt='megaphone']{
    height: 100%;
    width: 3%;
}
.work-start:hover{
    background: green;
}
.closed-arrow{
    transform: rotate(0deg);
}
.opened-arrow{
    transform: rotate(-180deg);
}