body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240,240);
    background: url("../img/bg.png") repeat 100%;
}
/*Стилі лого і фона*/
.start-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.start-page-background{
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: white;
}
.fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.start-page-logo{
    position: relative;
    top: 30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    color: #0071c5;
    z-index: 6;
}


section{
    margin: 15px 30px;
}
/* Header */

.header{
    position: relative;
    overflow: hidden;
    width: calc(100% - 60px);
    height: 60px;
    background-color: #fff;
    color: lightgreen;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
}
.status{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.logo{
    color: #0071c5;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.exit,.status-container{
    position: relative;
    height: 100%;
    margin: 0;
    width: 10%;
    float: right;
    transition: 0.5s;
    cursor: pointer;
}
.status-container{
    float: left;
    cursor: default;
}
.logout{
    color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    transition: 0.5s;
}
.exit:hover{
    background: darkred;
    opacity: 0.7;
}
.exit:hover .logout{
    color: white;
}

/* Work info */

.profile-info{
    width: available;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.6em;
}

.profile-info .work-start{
    padding: 5px;
    border: none;
    font-size: 1.5em;
    background-color: deepskyblue;
    color: white;
    font-family: sans-serif;
    border-radius: 15px;
}

.profile-info .taskbar{
    padding: 0;
    margin: 0;
    width: 40%;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    max-height: 200px;
    top: 0;
    left: 0;
}

.profile-info .taskbar .task{
    display: none;
    margin: auto 0;
    position: relative;
    text-align: center;
    background: deepskyblue;
    color: white;
    height: 65px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dropdown:hover{
    cursor: pointer;
}

.profile-info .taskbar.closed .task:first-child{
    display: flex;
    position: relative;
    border-radius: 15px;
    top: 0;
    left: 0;
}

.profile-info .taskbar.opened .task{
    display: flex;
}

.profile-info .taskbar.opened{
    align-self: flex-start;
    height: 250px;
}


.profile-info .taskbar .task span{
    display: block;
    height: 50%;
}