body {
    padding: 0;
    margin: 0;
    background: url("../img/bg.png") repeat 100%;
}
/*Стилі лого і фона*/
.start-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.start-page-background{
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: white;
}
.fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.start-page-logo{
    position: relative;
    top: 30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    color: #0071c5;
    z-index: 6;
}


section{
    margin: 10px 30px;
    position: relative;
    overflow: hidden;
    width: calc(100% - 60px);
    height: 60px;
    background-color: #fff;
    color: green;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
}
/* Header */

.status{
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.logo{
    color: #0071c5;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.exit,.status-container{
    position: relative;
    height: 100%;
    margin: 0;
    width: 10%;
    float: right;
    transition: 0.5s;
    cursor: pointer;
}
.status-container{
    float: left;
    left: 3%;
    cursor: default;
}
.logout{
    color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    transition: 0.5s;
}
.exit:hover{
    background: darkred;
    opacity: 0.7;
}
.exit:hover .logout{
    color: white;
}
/* Taskbar */
.taskbar{
    display: flex;
}
.taskbar button{
    position: relative;
    float: left;
    top: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 10px;
    transition: .3s;
    background-color: green;
    outline: none;
}
.taskbar button:hover{
    transition: .3s;
    cursor: pointer;
    background-color: darkseagreen;
}
.at-work-but{
    background-color: red !important;
}
.at-work-but:hover{
    background-color: indianred !important;
}
.taskbar-section{
    width: 120px;
    position: relative;
    left: 3%;
    border-right: 2px solid rgb(240, 240, 240);
    padding-right: 15px;
}
.meetings{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meetings-list{
    width: 500px;
    border-radius: 10px;
    height: 40px;
    border: 1.3px solid #0071c5;
    padding: 0;
}
.meetings-logo{
    height: 40px;
    width: 40px;
    background-image: url('../img/speaker.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: -30px;
    margin-right: 10px;
}
li{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
li span{
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    color: #0071c5;
    border-right: 1.3px solid #0071c5;
    text-align: center;
}
li span:last-child{
    border-right: none;
    padding: 0 20px;
    text-align: center;
}
.group{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #0071c5;
}
#current-time:hover{
    cursor: default;
}

/*Profile stats*/
.profile-stats{
    width: calc(100% - 60px);
    height: 400px;
    background-color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(99,99,99,1);
    color: #000;
}
.profile-stats-top{
    padding-left: 25px;
    height: 200px;
    border-bottom: 1px solid red;
}
.profile-icon{
    display: inline-block;
    margin: 10px;
    height: 180px;
    width: 180px;
    box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.75);
    background-color: transparent;
    background-image: url('../img/profile-icon.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}
.salary-info{
    display: inline-block;
    height: 180px;
}
.salary-info table{
    border-spacing: 0;
}
.salary-info tr{
}
.salary-info td{
    padding: 15px 30px;
}
img[alt='megaphone']{
    height: 100%;
    width: 3%;
}
.work-start:hover{
    background: green;
}
.closed-arrow{
    transform: rotate(0deg);
}
.opened-arrow{
    transform: rotate(-180deg);
}