/*Олег встав bg на body*/
body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240); /* <-- Змінити на фон */
}
/*Стилі лого і фона*/

/*Стилі лого і фона (кінець)*/

/*Стилі форми*/
.login-form{
    height: 350px;
    width: 450px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -5px rgba(99,99,99,1);

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
/*Стилі форми (кінець)*/
